[submodule "sites/all/modules/translatableregions"]
	path = sites/all/modules/translatableregions
	url = git://git.drupal.org/project/translatableregions.git
[submodule "contact_reply_to"]
	path = contact_reply_to
	url = rfay@git.drupal.org:project/contact_reply_to.git
